<footer class="fos">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <img src="~/images/logo.png " class="img-responsive a-center menu-logo  " alt="logo shop" />
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <h4 class="title-menu">Tư vấn</h4>
                            <div class="">
                                <ul class="list-menu">
                                    <li class="li-menu">
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li class="li-menu">
                                        <a href="/">Email:tranconghienutc2@gmail.com</a>
                                    </li>
                                    <li class="li-menu">
                                        <a href="/">Sdt:0347233285</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-xs-6 col-md-6">
                            <h4 class="title-menu">liên hệ</h4>
                            <div class="">
                                <ul class="list-menu">
                                    <li class="li-menu">
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li class="li-menu">
                                        <a href="/">Địa chỉ:450-lê văn việt-quận 9,TP Hồ Chí Minh</a>
                                    </li>
                                    <li class="li-menu">
                                        <a href="/">Sdt:0347233285</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 col-md-6">
                            <h4 class="title-menu">Giới thiệu</h4>
                            <div class="">
                                <ul class="list-menu">
                                    <li class="li-menu">
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li class="li-menu">
                                        <a href="/gioi-thieu">Về chúng tôi</a>
                                    </li>
                                    <li class="li-menu">
                                        <a href="/Tin-Tuc">Giới thiệu</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; @DateTime.Now.Year - Được độc quyền bởi:Hiền Trần Pro</p>
            </div>
        </div>
    </div>
</footer>