
@model Data.News.News
<h3 style="max-width:100% ;text-align:left;margin-top:30px;padding-top:20px">  @Model.Name </h3>

<div class="row">
    <div class="col-lg-12">
        <div class="GT-box">
            <p class="GT-text1">
                @Model.NoteDetail
            </p>


        </div>
        <div class="col-lg-12">
            <div class="img-tin">
                <img class="img-responsive" src="~/images/tin_1.jpg" alt="ảnh giới thiệu" />
            </div>
        </div>




        <div class="GT-box">
            <p class="GT-text1">
                @Model.NoteDetail

            </p>

        </div>
        <div class="col-lg-12">
            <div class="img-tin">
                <img class="img-responsive" src="~/images/tin_1.jpg" alt="ảnh giới thiệu" />
            </div>

            <div class="GT-box">
                <p class="GT-text1">
                    @Model.NoteDetail

                </p>

            </div>
        </div>
    </div>
</div>
